In [22]:
git_init:()
git_status:()
git_add: ('data_2')

In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv('https://raw.githubusercontent.com/WillTirone/code_lou_work/main/data2/knowledge_checks/data/Parking%20Citations%202018%20Thru%203-24-18.csv')

In [25]:
print(df.shape)
df.head()

(20336, 8)

  Cite Number  Issue Date Violat Sublocatio       Street Meter # Is Wa  Due
0  M201507360  02/16/2018    PSW        700      YORK ST     NaN    NO  0.0
1  M201306003  01/05/2018     HO       100S       1ST ST     NaN    NO  0.0
2  M202705546  01/18/2018      X       N200       1ST ST    3012    NO  0.0
3  M202802800  01/10/2018    NPP       500W   LIBERTY ST     NaN    NO  0.0
4  M200208507  02/23/2018     NP       200E  CHESTNUT ST     NaN    NO  0.0

In [26]:
df.columns

Index(['Cite Number', 'Issue Date', 'Violat', 'Sublocatio', 'Street',
       'Meter #', 'Is Wa', 'Due'],
      dtype='object')

In [27]:
fixed_columns = {
    'Cite Number':'citation_number',
    'Issue Date':'issue_date',
    'Violat':'violation',
    'Sublocatio':'sublocation',
    'Street':'street',
    'Meter #':'meter_number',
    'Is Wa':'is_warning',
    'Due':'due'
}

df.rename(columns=fixed_columns,inplace=True)
df.columns

Index(['citation_number', 'issue_date', 'violation', 'sublocation', 'street',
       'meter_number', 'is_warning', 'due'],
      dtype='object')

In [28]:
df.street.unique()

array(['YORK ST', '1ST ST', 'LIBERTY ST', 'CHESTNUT ST',
       'MUHAMMAD ALI BLVD', 'BROOK ST', 'MAIN ST', 'FLOYD ST',
       'BARDSTOWN RD', 'JEFFERSON ST', 'BAXTER AVE', '8TH ST', '6TH ST',
       '4TH ST', 'MARKET ST', '7TH ST', '5TH ST', 'HIGHLAND AVE',
       'WASHINGTON ST', 'BROADWAY', '3RD ST', 'DOUGLASS BLVD',
       'DUNDEE RD', 'KENTUCKY ST', 'ABRAHAM FLEXNER WAY', 'LEE ST',
       'BLOOM ST', '2ND ST', 'GRAY ST', 'ARMORY PL', 'PRESTON ST',
       'ELLWOOD AVE', 'BRANDYWYNE DR', 'BARRET AVE', 'LUCIA AVE',
       'HARVARD DR', 'EVERETT AVE', 'GUTHRIE ST', 'COLORADO AVE',
       'LIBRARY PL', 'HANCOCK ST', 'GAULBERT AVE', 'CARDINAL BLVD',
       'CEDAR ST', 'GARAGE - 6TH & MAIN', 'RODMAN ST', 'CLAY ST',
       'RUBEL AVE', 'STORY AVE', 'CRITTENDEN DR', 'JACKSON ST',
       'WEBSTER ST', 'HILL ST', '10TH ST', 'STANSBURY PARK',
       'LIBRARY LOT', 'DEERWOOD AVE', 'WITHERSPOON ST', 'ARTHUR ST',
       'BRONNER CIR', 'BRADLEY AVE', 'EDENSIDE AVE',
       'COVENTRY COMMONS DR', 'ST ANTHONY PL', 'YALE DR', 'PATTERSON AVE',
       'SARATOGA DR', 'GARAGE - MARKET ST', 'BRANDEIS AVE',
       'EDGELAND AVE', 'BARINGER AVE', 'LILLY AVE', 'ALTA AVE',
       'BEECHWOOD AVE', 'CAWTHON ST', 'LOT - CITY HALL',
       'BONNYCASTLE AVE', 'SHERWOOD AVE', 'LOT - MUD', 'JACKSON AVE',
       'BRYNWOOD LN', 'MELLWOOD AVE', 'EDEN AVE', 'BICKEL AVE',
       'GARAGE - MUHAMMAD ALI CENTER', 'HAMES TRCE', 'READING RD',
       'GARAGE - SEELBACH', 'SPRING ST', 'FORT ST', '9TH ST', 'SPEED AVE',
       'HAROLD AVE', "PLACE D'OR null", 'FLEMING AVE', 'FISK CT',
       'LIBERTY AVE', 'LAUDERDALE RD', 'JEFFERSON AVE', 'OUTER LOOP',
       'TAYLORSVILLE RD', 'CRANFILL WAY', 'HUNT CLUB LN',
       'I 71 NORTH null', 'MICHAEL RAY DR', 'DRESDEN AVE', 'PARK LAKE DR',
       'WARNOCK ST', 'LOCUST WAY', '40TH ST', '41ST ST', 'NORRIS PL',
       'SHADY LN', 'CHEROKEE RD', 'GRANGER RD', 'CANE RUN RD',
       'CLEVELAND AVE', 'WESTPORT RD', 'LANDIS RIDGE DR',
       'PORT CAPTAIN WAY', 'MADISON AVE', 'THOMPSON AVE', 'DELMONT AVE',
       'KINGSTON AVE', 'HITE AVE', 'BELLE ST', 'I 264 EAST null',
       'RUTHERFORD AVE', '7TH RD', 'GARRISON RD', 'LAKESIDE DR',
       'LIBERTY CT', 'KELLERMAN RD', 'RIVER PARK DR', 'LA PLAZA DR',
       'POPE ST', 'CONGRESS ALY', 'KEATS AVE', 'MOUNT HOLLY RD',
       'DEEPWOOD DR', 'ST JAMES CT', 'CAMPBELL ST', 'OAK ST',
       'ALGONQUIN PKY', 'CHARLES ST', '11TH ST', 'SCHILLER AVE',
       'I 64 EAST null', '38TH ST', 'FORDSON WAY', 'TOWNEPARK WAY',
       'MAPLE BROOK DR', 'ACCOMACK DR', 'FERNHILL DR', 'CEDAR CT',
       'PARAMOUNT DR', 'I 264 WEST null', 'LEESBURG PL',
       'PLACE VERT null', 'PARK FIELD RD', 'SHAWNEE TER',
       'POWDER HORN DR', 'MIAMI AVE', 'PLACE ARGENTE null', 'QUEST DR',
       'LOT - WHARF', 'DUKER AVE', 'MAGAZINE ST', 'WAINWRIGHT AVE',
       'LARKWOOD AVE', 'KIPLING WAY', 'ARLINGTON AVE', 'WHITNEY AVE',
       'DEER PARK AVE', 'CARLTON TER', 'CHICHESTER AVE', 'MILTON ST',
       'BRECKINRIDGE ST', 'LOTUS AVE', 'CHEROKEE PKY', 'INDIAN LAKE DR',
       'ROGERS ST', 'RIVER RD', 'SPRING DR', 'EDWARD ST',
       'MOUNT CLAIRE AVE', 'WINTER AVE', 'OVERLOOK TER', 'ROSEWOOD AVE',
       'PRINCETON DR', 'RUFER AVE', 'QUADRANT AVE', 'GLENMARY AVE',
       'LYNN ST', 'SHELBY ST', 'ATWOOD ST', 'SALE AVE', 'DENMARK ST',
       'FALLON WAY', 'LOCUST LN', 'HIKES AVE', 'PALATKA RD', 'PIERCE WAY',
       'ERVAY AVE', 'HULL ST', 'COVENTRY CT', 'SEA WAVE CT',
       'DAVERMAN DR', 'CONSTANCE DR', 'BON AIR AVE', 'DANZIG PLACE',
       'ALFRESCO PL', 'SOUTH ST', '13TH ST', 'CANNONWOOD DR',
       'DEARCY AVE', 'SOUTHSIDE CT', 'NATIONAL TPKE', 'FRANKFORT AVE',
       'ORMSBY AVE', 'JACOB ST', 'RENWOOD BLVD', 'HURSTBOURNE PKY',
       '12TH ST', 'PRESTON HWY', '23RD ST', 'DUMESNIL ST', 'ADAMS RUN RD',
       'MILES AVE', '30TH ST', 'ST CATHERINE ST', 'VIRGINIA AVE',
       'DEARBORN AVE', 'NEWPORT RD', 'ARCADE AVE', 'I 265 SOUTH null',
       'PLACE BLANC null', 'I 265 NORTH null', 'FISCHER PARK DR',
       'ANNELLA WAY', 'LENTZ AVE', 'MOUNT HOLLY AVE', 'EARL AVE',
       'GRINSTEAD DR', 'GARAGE - BROWN HOTEL', 'GARAGE - CLAY COMMONS',
       '3RD ALY', 'GARAGE - 1ST & MAIN', 'MIDLAND AVE', 'TYLER PKY',
       'LAMPTON ST', '28TH ST', 'FERNWOOD AVE', 'MURRAY AVE',
       'BONNY LEA CT', 'CABEL ST', 'CENTRAL AVE', 'HILLIARD AVE',
       'GRADE LN', 'VILLAGE DR', 'FLEMING RD', 'ROANOKE AVE',
       'I 65 NORTH null', 'BLOSSOM LN', 'CECIL AVE', '39TH ST',
       'DEARING CT', 'HEYWOOD AVE', 'INDIAN TRL', 'BRASHEAR DR',
       'VINE ST', 'PULPIT DR', 'HALSTEAD AVE', 'HARVEST DR', 'BARBEE AVE',
       'POWELL AVE', 'BANK ST', 'SLEVIN ST', 'BRECKENRIDGE LN',
       'DORTON DR', 'SHAWNEE DR', 'MILES LN', 'NANSEMOND CIR',
       'HARLAN AVE', 'SOUTHERN PKY', 'GRAND AVE', 'PLACE BLEU null',
       'DOROTHY AVE', 'ADAMS RUN CT', 'ST JOSEPH ST',
       'LOT - HAPPY BIRTHDAY', 'I 71 SOUTH null',
       'GARAGE - LOUISVILLE GARDENS', 'BURNETT AVE', 'CALDWELL ST',
       'GARAGE - JEFFERSON CENTRE', 'RUGGLES PL', 'SWAN ST',
       'BROOKLEY DR', 'BUCHANAN ST', '24TH ST', 'STOLL AVE', 'UPS DR',
       'BROWNSBORO RD', 'STEPHAN DR', 'BAYLY AVE', 'DONERAIL WAY',
       'BARNEY AVE', 'STOCKTON CT', 'PARSONS PL', 'VANDRE AVE',
       'ORCHARD HILL DR', 'NEW CUT RD', 'SENECA PARK RD', 'FOREMAN LN',
       'HOMESTEAD DR', 'CONCORD DR', 'BOLLING AVE', 'DIXIE HWY',
       'ANNA LN', 'WELMAN DR', 'DOVER RD', 'AGENA DR', 'WAREHAM RD',
       'CHAUNCEY AVE', 'HARRISON AVE', 'SHELBYVILLE RD', 'BRANDYWYNE CT',
       'HUNTOON AVE', 'BELMAR DR', 'MARSHALL ST', 'Boulevard Napoleon',
       'WALTERDALE TER', 'DUNDEE WAY', 'HEPBURN AVE', 'DEBARR ST',
       'CHRISTY AVE', 'BUSH FARM RD', 'CURRY BRANCH RD', 'SOUTHPOINT DR',
       'EASTERN PKY', 'TERRACE CREEK DR', 'Armstrong Dr', 'EDDINGTON WAY',
       'UPPER HUNTERS TRCE', 'ULRICH AVE', 'LYDIA ST', 'BUCKS LN',
       'MONTICELLO AVE', 'HILLCROSS CT', 'OLD HENRY RD',
       'CLARK MEMORIAL BRG', '42ND ST', '26TH ST', 'FERN VALLEY RD',
       'TAYLOR BLVD', 'FORDHAVEN RD', 'COPPER RIDGE DR', 'ETLEY AVE',
       '16TH ST', 'REUTLINGER AVE', 'TECUMSEH AVE', 'NEAGLI CT',
       'JOYCE DR', 'PLACE JANUE null', '17TH ST', 'VALLEY VISTA RD',
       'OLDSHIRE RD', 'HERSFIELD RD', 'ARROYO TRL', 'I 65 RAMP null',
       'CLARA AVE', 'SMYRNA RD', 'BELLAIRE AVE', 'WADSWORTH AVE',
       'HERMAN ST', 'SHIPP PL', 'GARAGE - 5TH ST', 'SHEFFIELD BLVD',
       'SULLIVAN WAY', 'IOWA AVE', 'RICHMOND DR', 'JEFFERSON BLVD',
       'KENHURST DR', 'WILLOWVIEW BLVD', 'CHARLESWOOD PL', 'GLENDORA AVE',
       'HARTMAN AVE', 'GARAGE - ARENA', 'HILL PEAK CT', 'VANETO DR',
       'HURSTBOURNE LN', 'COURT PL', 'ROCK CREEK DR', 'FOUNDRY DR',
       'GARLAND AVE', 'OAKWOOD AVE', 'RIDGEDALE RD', 'ROWAN ST',
       'DUNBARTON WYNDE null', 'FERNVIEW RD', 'BELLWOOD AVE', '36TH ST',
       'SEBREE LN', 'VILLAGE WEST DR', 'DEL PARK TER', 'GOSS AVE',
       'GARAGE - GLASSWORKS', 'GARAGE - RIVERFRONT', 'NEWBURG RD',
       'COVE DR', 'COLLEGE ST', 'TREVILIAN WAY', 'WASHINGTON BLVD',
       'CAMP ST', 'BINGHAM DR', 'COVA DR', 'SHINGO AVE', 'KENTON ST',
       'MANSLICK RD', 'LEXINGTON AVE', 'GRASMERE DR', 'DELOR AVE',
       'POINDEXTER DR', 'FRANELM RD', 'WINSTON AVE', 'BLAIRWOOD RD',
       'HIAWATHA AVE', 'PEALE AVE', 'WOODGATE LN', 'ROSELANE ST',
       'LIBRARY LN', 'MARY ST', 'DE MEL AVE', 'STANDIFORD AVE',
       'LANGDON DR', 'PAGES LN', 'ROTHBURY CT', 'MORTON AVE', 'BAKERS LN',
       'SWALLOW RD', 'GLENDALE RD', 'BIRCHWOOD AVE', 'MARIAN DR',
       'WELLINGTON AVE', 'LONGFIELD AVE', 'WEAVER CT', 'HILLCREST AVE',
       'SUTHERLAND DR', 'LEXINGTON RD', 'GREENWICH RD', 'GLENNA WAY',
       'BUNGALOW DR', 'BRINKEY WAY', 'HIKES LN', 'PAYNE ST',
       'WATTERSON TRL', 'PLACE NOIR null', 'WOODLAND AVE',
       'PLACE ROUGE null', 'CHARLBURY CT', 'MARY DELL LN', 'CAWOOD DR',
       'CRAIG AVE', 'RIEDLING DR', 'BEECH AVE', 'WALTER AVE'],
      dtype=object)

In [29]:
df[df.street.str.contains('null')].head()

,citation_number,issue_date,violation,sublocation,street,meter_number,is_warning,due
1559,94783496,01/19/2018,EX,1200,PLACE D'OR null,NaN,NO,50.0
1689,94942481,01/15/2018,U,I-265,I 71 NORTH null,NaN,NO,50.0
1750,94941571,02/20/2018,NP,12MM,I 264 EAST null,NaN,NO,50.0
1978,94725046,01/11/2018,NPJ,23.2 MM,I 64 EAST null,NaN,NO,50.0
1990,94944872,02/06/2018,EX,9MM,I 264 WEST null,NaN,NO,50.0

In [30]:
df.street.replace({' null':''}, regex=True,inplace=True)

In [31]:
#df[df.street.str.contains('null')].head()